{% extends "layouts/base.html" %}

{% block contenido %}

<header>
    <h1 class="text-center py-3">Agrega un vehículo al catálogo</h1>
</header>

<main class="container py-3">
    <section>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{form}}
                    <div class="d-flex justify-content-center">
                       <input type="submit" class="btn btn-primary my-3" value="Agregar al catálogo"> 
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock contenido %}